@model IEnumerable<GyandhaaraLibrary.ViewModel.Photo.PhotoViewModel>
@{
    ViewBag.Title = "Home";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img src="@Url.Action("GetImage", "Home", new { id = item.PhotoID })" style="width:100%; height:250px;" />
                <input class="btn btn-danger" type="button" value="VIEW BOOK"
                       onclick="location.href='@Url.Action("Details", "Home",new { id = item.PhotoID })'" style="width:100%" />
            </a>
        </div>
    }
</div>
